.card {
    background:#FFF;
    border:1px solid #AAA;
    border-bottom:3px solid #BBB;
    padding:10px;
    margin:15px;
    overflow:hidden;
}

.card h2 {
    margin:0px;
    padding:10px;
    padding-bottom:0px;
}

.card p {
    margin:0px;
    padding:10px;
}

#expense-header {
    font-weight: bold;
    padding: 5px;
}

#filter-box {
    padding: 10px;
}

.category-label {
    margin-left: 20px;
    font-weight: bold;
}

.expense-amount {
    float: right;
    margin-right: 20px;
}